<!doctype html>
<html class="no-js supports-no-cookies html-template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" lang="{{ shop.locale }}">
	<head>
    	{% render 'head-code' %}
		{{ content_for_header }}
    	{% render 'head-framework' %}
	</head>
	<body class="template-password" data-tempsuffix="{{ template.suffix }}">
		<a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
        <header role="banner" class="password-header">
            <div class="h1" itemscope itemtype="http://schema.org/Organization">
                <span class="screen-reader-text" aria-hidden="true">{{- shop.name -}}</span>
                <a href="{{- shop.url -}}" itemprop="url" class="site-logo"></a>
            </div>
        </header>
		<main role="main" id="MainContent">
			<div class="login-content">
				{{ content_for_layout }}
			</div>
		</main>
	</body>
</html>