{% if settings.header != blank or settings.caption != blank or settings.image != blank %}
<section class="module module-split-images"{% if settings.negative_margin == 0 %} data-aos="fade-up"{% endif %}>

    <div class="module-container
    {% if settings.flip_content %} flip-content{% endif %}
    {% if settings.center_content %} center-content{% endif %}
    {% if settings.left_offset %} offset-left{% endif %}
    {% if settings.right_offset %} offset-right{% endif %}
    ">

    {% assign content_width_left = settings.content_width | times: 1 %}
    {% assign content_width_right = 100 | minus: content_width_left %}

        {% if settings.image != blank %}
            {% assign mobile_image = settings.image %}
            {% if settings.image_mobile != blank %}
                {% assign mobile_image = settings.image_mobile %}
            {% endif %}
            <picture class="module-image" style=" width: {{content_width_left}}%">
                <source media="(max-width: 414px)" srcset="{{ mobile_image | img_url: '414x', format: 'pjpg' }}, {{ mobile_image | img_url: '414x', scale: 2, format: 'pjpg' }} 2x" />
                <source media="(max-width: 767px)" srcset="{{ mobile_image | img_url: '767x', format: 'pjpg' }}, {{ mobile_image | img_url: '767x', scale: 2, format: 'pjpg' }} 2x" />
                <source media="screen" srcset="{{ settings.image | img_url: '1440x', format: 'pjpg' }}, {{ settings.image | img_url: '1440x', scale: 2, format: 'pjpg' }} 2x" />
                <img src="{{ settings.image | img_url: '1440x', format: 'pjpg' }}" alt="{{ settings.title }} - 1" />
            </picture>
        {% endif %}

        {% if settings.image_2 != blank %}
            {% assign mobile_image_2 = settings.image_2 %}
            {% if settings.image_mobile_2 != blank %}
                {% assign mobile_image_2 = settings.image_mobile_2 %}
            {% endif %}
            <picture class="module-image" style=" width: {{content_width_right}}%">
                <source media="(max-width: 414px)" srcset="{{ mobile_image_2 | img_url: '414x', format: 'pjpg' }}, {{ mobile_image_2 | img_url: '414x', scale: 2, format: 'pjpg' }} 2x" />
                <source media="(max-width: 767px)" srcset="{{ mobile_image_2 | img_url: '767x', format: 'pjpg' }}, {{ mobile_image_2 | img_url: '767x', scale: 2, format: 'pjpg' }} 2x" />
                <source media="screen" srcset="{{ settings.image_2 | img_url: '1440x', format: 'pjpg' }}, {{ settings.image_2 | img_url: '1440x', scale: 2, format: 'pjpg' }} 2x" />
                <img src="{{ settings.image_2 | img_url: '1440x', format: 'pjpg' }}" alt="{{ settings.title }} - 2" />
            </picture>
        {% endif %}
    </div>
</section>
{% endif %}