{% assign activeClass = false %}
{% assign hasActivatedTitle = false %}
{% assign hasActivatedContent = false %}
{% assign counter = 0 %}
{% assign counterActive = 0 %}

{%- for metaKey in allowed_metafields -%}
    {%- assign metafield = product.metafields['global'][metaKey] -%}
    {%- assign tabbedTitle = metaKey | replace: '-', ' ' | replace: 'care recomendations', 'care and composition' -%}

    {% if tabcontent == true and metafield != blank %}

        {% if hasActivatedContent == false and metafield != blank %}
            {% assign activeClass = true %}
        {% endif %}
        <div class="stacked-content stack-{{ metaKey }}{% if activeClass and hasActivatedContent == false %} active{% endif %}" data-target="stacked-{{- counter -}}" id="stacked-{{- counter -}}" data-aos="fade-up">
            <h3 class="stack-title">{{ tabbedTitle }}</h3>
            <div class="content-inner">{{ metafield | newline_to_br }}</div>
            {%- if metaKey contains 'features' -%}
            {% comment %}
            include icon feature items
            {% endcomment %}
            {% capture feature_list_items %}
                {%- for tag in product.tags -%}
                {%- if tag contains 'features:' -%}
                {%- assign feature = tag | split: ':' -%}
                <li><i class="icon-{{ feature[1] | handle }}"></i> <span>{{ feature[1] | replace: '-', ' ' }}</span></li>
                {%- endif -%}
                {%- endfor -%}
            {% endcapture %}
            {% if feature_list_items != blank %}
                <ul class="feature-list">
                    {{ feature_list_items }}
                </ul>
            {% endif %}
            {%- endif -%}
        </div>
    {% elsif tabtitle == true and metafield != blank %}
        {% if hasActivatedTitle == false and metafield != blank %}
            {% assign activeClass = true %}
        {% endif %}
        {% unless tabbedTitle == 'sizing' or tabbedTitle == 'warranty' %}
        {% assign counterActive = counterActive | plus: 1 %}
        {% endunless %}
        <div
            class="stacked-title stack-{{ metaKey }} stacked-title-{{ counter }}{% if forloop.last and with_reviews != true %} stacked-title-last{% endif %}{% if activeClass and hasActivatedTitle == false %} active{% endif %}"
            data-target="stacked-{{- counter -}}">{{ tabbedTitle }}</div>
    {% endif %}

    {% if activeClass %}
        {% assign hasActivatedTitle = true %}
        {% assign hasActivatedContent = true %}
    {% endif %}
    {% assign activeClass = false %}
    {% assign counter = counter | plus: 1 %}
{%- endfor -%}

{% if tabtitle and counterActive > 0 %}
    <div class="stacked-title stack-reviews stacked-title-last stacked-title-last" data-target="reviews">Reviews</div>
{% endif %}
