{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

{% if settings.holding_page_enable and settings.holding_page_bg_image %}
    <div class="module image-module">
        <!--settings.holding_page_bg_image: {{settings.holding_page_bg_image}}-->
        {% assign mobile_image = settings.holding_page_bg_image %}
        {% if  settings.holding_page_bg_image_mobile %}
            {% assign mobile_image = settings.holding_page_bg_image_mobile %}
        {% endif %}
        <span class="absolute-image desktop-image" role="img" aria-label="{{ settings.holding_page_bg_image.alt }}" style="background-image:url('{{ settings.holding_page_bg_image | img_url: '1440x' }}');"></span>
        <span class="absolute-image mobile-image" role="img" aria-label="{{ mobile_image.alt }}" style="background-image:url('{{ mobile_image | img_url: '768x' }}');"></span>

        {% assign lines_overlay = settings.holding_page_overlay_image | img_url: '1440x' %}
        {% assign lines_overlay_mobile = settings.holding_page_overlay_image_mobile | img_url: '768x' %}
        <span class="lines-overlay desktop-image" style="background-image:url('{{ lines_overlay }}');"></span>
        <span class="lines-overlay mobile-image" style="background-image:url('{{ lines_overlay_mobile }}');"></span>

        <div class="block-container">
            <div class="brand-logo"></div>
            <div class="inner-wrapper">
            {% if settings.holding_page_subtitle != blank %}
                <h3 class="subheadline">{{ settings.holding_page_subtitle }}</h3>
            {% endif %}
            {% if settings.holding_page_title != blank %}
                <h1 class="headline">{{ settings.holding_page_title }}</h1>
            {% endif %}
            </div>   
            {% if settings.holding_page_socials %}
            <nav class="social-wrapper">
                {% comment %} <div class="social-heading">Follow us</div> {% endcomment %}
                {%- assign social_accounts = 'Instagram, Facebook, Twitter, Pinterest, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
                {% for social in social_accounts %}
                    {%- assign social_handle = social | handleize -%}
                    {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                    {% if settings[social_link] != blank %}
                        <a href="{{ settings[social_link] }}" class="social-{{ social_handle }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                            <span class="icon-fallback-text">{{ social }}</span>
                        </a>
                    {% endif %}
                {% endfor %}
            </nav>
            {% endif %}
        </div>
    </div>
{% endif %}

{% unless shop.password_message == blank %}
<div class="title">
    <h2>{{ shop.password_message }}</h2>
</div>
{% endunless %}

<div class="forms-container">
    <div class="customer-subscription">
        {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
                <ul class="form-success">
                    <li>{{ 'general.password_page.signup_form_success' | t }}</li>
                </ul>
            {% else %}
                <h4>{{ 'general.password_page.signup_form_heading' | t }}</h4>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <div class="fieldset">
                    <div class="field">
                        <div class="input-wrapper">
                            <input type="email"
                                name="contact[email]"
                                id="Email"
                                spellcheck="false"
                                autocomplete="off"
                                autocapitalize="off"
                                placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" >
                            <label for="Email" class="visually-hidden">{{ 'general.password_page.signup_form_email_placeholder' | t }}</label>
                            <button type="submit" name="commit" class="btn">
                                <span class="visually-hidden">{{ 'general.newsletter_form.submit' | t }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                
            {% endif %}
        {% endform %}    
    </div>

    <div class="customer-login">
        {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <h4>{{ 'general.password_page.login_form_heading' | t }}</h4>
            <div class="fieldset">
                <div class="field">
                    <div class="input-wrapper">
                        <input type="password"
                            name="password"
                            id="Password"
                            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                            autocomplete="off" >
                        <label for="Password" class="visually-hidden">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                        <button type="submit" name="commit" class="btn">
                            <span class="visually-hidden">{{ 'customer.login.sign_in' | t }}</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endform %}
    </div>
</div>
